@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

@import "datepicker.pcss";

@layer utilities {
    .text-xxs{
        font-size: 0.6rem
    }
}

