node_modules
dist
*.zip
.idea
.DS_Store
documentation/.vitepress/dist
documentation/.vitepress/cache
documentation/.vitepress/index/lunr.cjs
packages/.DS_Store
packages/documentation/.DS_Store
packages/documentation/src/.DS_Store
packages/vanilla-components/.DS_Store
packages/vanilla-components/presets
packages/documentation/.vitepress/.DS_Store
