@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

@import "buttons.pcss";
@import "forms.pcss";

@layer utilities {
    .text-xxs{
        font-size: 0.6rem
    }
}

